<!DOCTYPE html>
<html>
<head>
    <title>Let's Eat Out</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>

<div id="landing-header">
    <h1 style="color: red">Welcome to <span id="eatout"><span id="eo1">Let</span><span id="eo2"> Us</span><span id="eo3"> Eat <span style="color: purple">Out</span></span></span></h1>
    <a href="/LetUsEatOut" class="btn btn-lg bg-warning"><span id="btn">Explore</span></a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<%- include('partials/footer'); %>